body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--color-gray-dark);
}

.heading-primary {
  line-height: 0.75;
  margin-top: 20vh;
  font-size: 3.15rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 0 1rem;

  @include respond(sm) {
    font-size: 4.25rem;
    margin-left: 10%;
    padding: unset;
    text-align: unset;
  }

  @include respond(md) {
    line-height: 0.685;
    font-size: 4.65rem;
  }

  @include respond(lg) {
    font-size: 5.3rem;
  }

  &--main {
    display: block;
    animation: moveInLeft 3s ease-out;
  }

  &--sub {
    display: block;
    animation: moveInRight 3s ease-out;
  }
}

.heading-secondary {
  font-size: 2.4rem;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.1rem;
  transition: all 0.2s;

  @include respond(md) {
    // font-size: 2rem;
  }
}

.heading-tertiary {
  font-weight: 700;
}

.paragraph {
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
