:root {
  --color-primary: #014e87;
  --color-secondary: #69b3c8;
  --color-tertiary: #f7b33d;

  --color-grey-dark: #555;
  --color-grey-light: #eeeeee;
  --color-white: #fff;
  --color-black: #000;
}
