.section-hero {
  height: 75vh;
  max-width: 1440px;
  overflow: hidden;
}

.section-presentation {
  padding: 15rem 0 7rem 0;
}

.section-services {
  max-width: 1440px;
  padding: 5rem 0 10rem;
}

.section-hints {
  padding: 4rem 0;
  background-color: var(--color-primary);
}

.section-aboutus {
  overflow: hidden;
  padding: 8rem 0;
}

.section-clients {
  padding: 5rem 0;
}

.section-testimonies {
  padding: 10rem 0 15rem;
}

.section-brands {
  padding: 4rem 0;
}

.section-contact {
  padding: 13rem 0 15rem 0;
}
