.section {
  transition: transform 1s, opacity 1s;
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section-hero {
  height: 85vh;
  max-width: 1440px;
  overflow: hidden;
}

.section-presentation {
  padding: 3vw 7rem 4vw;
}

.section-services {
  padding: 0 0 13.5rem;
}

.section-achivements {
  padding: 4rem 0;
  background-color: var(--color-primary);
}

.section-projects {
  overflow: hidden;
  padding: 14rem 0;
}

.section-testimonies {
  padding: 15rem 0;
}

.section-about-us {
  padding: 0rem 0 15rem;
}

.section-brands {
  padding: 10rem 0 5.75rem;
}

.section-contact {
  padding: 13rem 0 15rem 0;
}
