.carousel {
  &-inner {
    width: 100rem;
  }

  &-item {
    height: 55rem;
    position: relative;
  }

  &__image {
    position: absolute;
    left: 10;
    top: 0;
    opacity: 0.9;
    height: 100%;
    width: 100%;
  }
}
