.card-simple {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  height: 27rem;
  margin-bottom: 1rem;
  overflow: hidden;
  padding: 1rem;
  text-align: center;

  @include respond(sm) {
    margin: 1.5rem;
  }
}
