.contact {
  &__form {
    box-shadow: rgba(0, 0, 0, 0.075) 0px 3px 3px 0px;
    font-size: 2rem;
    text-align: left;
    padding: 3.5rem;

    &-row {
      width: 100%;
    }

    .form-control {
      border-radius: 2px;
      border: none;
      border-bottom: 1px solid var(--color-gray-light);
      font-size: 1.3rem;
    }

    .form-group {
      label {
        font-size: 1.65rem;
        margin-bottom: 1rem;
      }

      textarea {
        border: 1px solid var(--color-gray-light);

        &:focus {
          outline: 0;
          box-shadow: none;
        }
      }
    }

    .form-control--input {
      margin-bottom: 1.5rem;
      height: 4rem;
      width: 100%;

      &:focus {
        outline: 0;
        box-shadow: none;
      }
    }

    .btn-form {
      width: 10rem;
      height: 4rem;
      font-size: 1.5rem;

      font-weight: 800;
    }
  }

  &__data {
    line-height: 1;
    letter-spacing: 1.5px;
    margin-bottom: 13.5rem;
    padding: 3.5rem;
    width: 30rem;
  }
}
