.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 30vh);
  grid-gap: 0.7rem;

  @include respond(md) {
    grid-template-rows: repeat(2, 30vh);
  }

  @include respond(lg) {
    grid-template-columns: repeat(2, 1fr) 40%;
  }

  &__item {
    margin: 0;
    overflow: hidden;
    position: relative;
    grid-column: 1 / -1;

    &--1 {
      @include respond(md) {
        grid-column: 1 / 2;
      }
    }

    &--2 {
      @include respond(md) {
        grid-column: 2 / 3;
      }
    }

    &--3 {
      @include respond(md) {
        grid-column: 3 / 4;
      }

      @include respond(lg) {
        grid-column: 1 / span 2;
      }
    }

    &--4 {
      @include respond(lg) {
        grid-column: 3 / -1;
        grid-row: 1 / span 2;
      }
    }
  }
}
