.hero {
  background-image: url("../images/main-1920w.jpg"); // small image
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  z-index: -1;
  padding: 0;

  @media only screen and (min-resolution: 192dpi) and (min-width: 36em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 36em),
    only screen and (min-width: 125em) {
    background-image: url("../images/main-2400w.jpg"); // big image
  }
}
