.text-component--1 {
  margin-bottom: 8rem;
  padding: 0 3rem;

  @include respond(md) {
    margin-bottom: unset;
    padding: unset;
  }
}

.description {
  line-height: 2.8rem;
}

.achivements-box {
  transform: translateX(-25%);

  &__list li {
    margin-left: 14rem;
  }
}
